:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  margin: 0;
  min-height: 100vh;

  font-family: 'Segoe UI', sans-serif;
  color: #101010;
}

#preview-root {
  margin: 0 auto;
  max-width: 1280px;
  padding: 40px 32px;
  width: 100%;
}

#preview-root .post-calendar-app {
  padding: 0;
  background: white;
  padding: 40px 32px;
}

@media (max-width: 767px) {
  #preview-root {
    padding: 20px 12px 40px;
  }
}
